@model JobPortal.Models.PostJob

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PostJob</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Company)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Company.CompanyName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Job)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Job.JobDetails)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequiredPerson)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequiredPerson)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Qualification)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Qualification)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinimumExperience)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinimumExperience)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AgeLimit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AgeLimit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MarriedStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MarriedStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShortListDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShortListDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InterviewDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InterviewDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobStatus.JobStatusName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PostJobId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
