@model IEnumerable<JobPortal.Models.PostJob>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Company)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Job)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequiredPerson)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Qualification)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MinimumExperience)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AgeLimit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MarriedStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShortListDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InterviewDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Company.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Job.JobDetails)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequiredPerson)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Qualification)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MinimumExperience)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AgeLimit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MarriedStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShortListDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InterviewDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobStatus.JobStatusName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PostJobId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PostJobId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PostJobId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
