@model JobPortal.Models.JobRequirementDetail

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>JobRequirementDetail</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobRequirmentDetailName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobRequirmentDetailName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobRequirement)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobRequirement.JobRequirementTitle)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.JobRequirementDetailId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
