@model IEnumerable<Restaurant.Models.Customer>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<a class="btn bt-sm btn-primary" asp-area="RestMgmt" asp-controller="Orders" asp-action="Create">Order Now</a>

<p>
    <a asp-action="Create">Create New</a>
</p>
@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerAddress)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerAddress)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CustomerId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CustomerId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CustomerId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
*@


<div class="card-columns ">
    @foreach (var cust in Model) {
        <div class="card border-info">
            <div class="card-header">
                @cust.CustomerName
            </div>
            <div class="card-body ">
                @Html.DisplayNameFor(modelItem => cust.CustomerPhone) : @cust.CustomerPhone
                <br />
                @Html.DisplayNameFor(modelItem => cust.CustomerEmail) : @cust.CustomerEmail
                <br />
                 @Html.DisplayNameFor(modelItem => cust.CustomerAddress) : @cust.CustomerAddress
                <br />

            </div>
            <div class="card-footer">
                <a class="btn btn-sm btn-success " asp-action="Edit" asp-route-id="@cust.CustomerId">Edit</a>
                <a class="btn btn-sm btn-outline-warning asp-action="Details" asp-route-id="@cust.CustomerId">Details</a>
                <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@cust.CustomerId">Delete</a>
            </div>
        </div>
    }
</div>
<div class="col-8">
<a class="btn btn-sm btn-primary" asp-area="RestMgmt" asp-controller="Categories" asp-action="Index">List of Categories</a> 
 <p><a class="btn btn-sm btn-primary" href="/">Home</a></p>
</div>
