@model JobPortal.Models.WorkExperience

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>WorkExperience</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Company)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Company)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Country.CountryName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FromYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FromYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ToYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ToYear)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.WorkExperienceId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
