@model JobPortal1.Models.PostJob

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PostJob</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Company)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Company.CompanyName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vacancies)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vacancies)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostCreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostCreatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Qualification)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Qualification)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinSalary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinSalary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxSalary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxSalary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobRequirement)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobRequirement.JobRequirementTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobStatus.JobStatusName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobNature)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobNature.JobNatureName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PostJobId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
