@model IEnumerable<JobPortal.Models.ApplyJob>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ApplicantName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserTable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AppliedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobNature)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostJob)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicantName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserTable.ContactNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppliedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Company.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobNature.JobNatureName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobCategory.JobCategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobStatus.JobStatusName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostJob.JobTitle)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ApplyJobId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ApplyJobId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ApplyJobId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
