@model IEnumerable<JobPortal2.Models.PostJob>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Company)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vacancies)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostCreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Qualification)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MinSalary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxSalary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WebUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobRequirement)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobNature)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Company.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vacancies)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostCreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Qualification)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MinSalary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxSalary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WebUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobRequirement.JobRequirementDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobStatus.JobStatusName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobNature.JobNatureName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PostJobId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PostJobId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PostJobId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
