@model JobPortal1.Models.JobApply

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>JobApply</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobApplyDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobApplyDateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobApplyStatusUpdateDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobApplyStatusUpdateDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobApplyStatusUpdate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobApplyStatusUpdate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobApplyStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobApplyStatus.JobApplyStatusName)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employee.EmailAddress)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="JobApplyId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
