@model JobPortal1.Models.JobApply

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>JobApply</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobApplyDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobApplyDateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobApplyStatusUpdateDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobApplyStatusUpdateDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobApplyStatusUpdate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobApplyStatusUpdate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobApplyStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobApplyStatus.JobApplyStatusName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employee.EmailAddress)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.JobApplyId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
